//@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Space+Grotesk:wght@300;600;700&display=swap');

$primary-color: #e0e8cd;
$button-hover-color: #B2EFA2;
$background-image: url('images/background.png');
$background-color: #F7FCEE;
$button-color-1: #B7A0C5;
$button-color-2: #698F7C;

$primary_font: "Kulim Park";
$digital_font: "Space Grotesk";


body {
  background-color: $background-color;
}
#main {
  background-image: $background-image;
}

//navigation bar
#navig-bar {
  background-color: $primary-color;
}
.nav-link {
  color: #1a1e21;
  font-family: $digital_font;
  font-weight: bold;
}
.navbar-brand {
  font-family: $digital-font;
  font-weight: bold;
  color: #1a1e21;
}

//

//all about forms
form {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="submit"] {
  background-color: $button-color-1;
  padding: 10px 25px;
  font-size: 15px;
  font-family: $digital-font;
}

input[type="text"], input[type="email"], input[type="password"] {
  background-color: $primary-color;
}
//

//texts
.top-text-form, .contact-text {
  font-family: $digital_font;
  font-weight: bold;
}
.mt-2, .contact-info {
  font-family: $digital_font;
}
.footer-bottom-text {
  font-family: $primary-font;
  font-size: medium;
}
.footer-item {
  color: #1a1e21;
  font-family: $digital_font;
}

//

.logo {
  font-family: $digital_font;
  color: #1a1e21;
  font-weight: bold;
}


