//@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Space+Grotesk:wght@300;600;700&display=swap');

$primary-color: #e8f1d6;
$nav-brand-hover-color: #a5f393;
$primary-hover-color: #dbc1ea;
$primary-text-color: #1a1e21;
$white: #ffffff;
$button-color-1: #B7A0C5;
$delete-button-color: #53c743;

$background-image: url('../public/images/background.png');
$background-color: #F7FCEE;

$primary_font: "Kulim Park";
$digital_font: "Space Grotesk";


// basic body
body {
  background-color: $background-color;
}
#main {
  background-image: $background-image;
  background-position: center;
  background-size: 100% 100%;
  padding-bottom: 100px;
  padding-top: 100px;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  text-align: center;
  a {
    text-decoration: none;
  }
}


//navigation bar
#navig-bar {
  background-color: $primary-hover-color;
}
.nav-link, .navbar-brand {
  color: $primary-text-color;
  font-family: $digital_font;
  font-weight: bold;
}
.navbar-brand {
  color: $white;
}
.nav-link:hover{
  color: $white;
}
.navbar-brand:hover {
  color: $nav-brand-hover-color;
}
//

//all about forms
form {
  max-width: 400px;
  //centered
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="submit"] {
  background-color: $button-color-1;
  padding: 10px 25px;
  font-size: 15px;
  font-family: $digital-font;
}

input[type="text"], input[type="email"], input[type="password"] {
  background-color: $primary-color;
}
//

//texts
.top-text, .contact-text {
  font-family: $digital_font;
  font-weight: bold;
}
.footer-bottom-text, .ordinary-text {
  font-family: $primary-font;
  font-size: medium;
}
.footer-item, .mt-2, .contact-info {
  color: $primary-text-color;
  font-family: $digital_font;
  text-decoration: none;
}
.event-main-text-info {
  font-family: $digital_font;
  font-weight: bold;
  color: $primary-text-color;
}
.main-poster-text {
  font-family: $digital_font;
  font-weight: bold;
  color: $white;
}
//

.logo {
  font-family: $digital_font;
  color: $primary-text-color;
  font-weight: bold;
}

#page-content, #top-events {
  text-align: center;
  margin-bottom: 25%;
}

footer {
  margin-top: 30%;
  border-top: 1px solid #ccc;
}

// event items
.event-item:hover {
  box-shadow: 5px 5px 20px rgb(206, 160, 243);
  z-index: 2;
}
.event-item a{
  text-decoration: none;
  z-index: 1;
}
//

// all tables
tr {
  font-family: $primary_font;
  font-weight: normal;
  color: $primary-text-color;
  border-bottom: 2px solid #ddd;
}
tr:hover {
  background-color: $primary-hover-color;
}
.user-info {
  background: $primary-color;
}
table {
  width: 100%;
  height: 350px;
}
.purchase-history {
  margin-bottom: 25%;
}

//buttons
.basic-button {
  background-color: $button-color-1;

  font-size: 15px;
  font-family: $digital-font;

  //maybe change later when js (onClick=)
  a {
    text-decoration: none;
    color: $primary-text-color;
  }
}
.delete-button {
  background-color: $delete-button-color;

  font-size: 15px;
  font-family: $digital-font;
}

#admin-page {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}